.App {
  /*text-align: center;*/
  display: flex;
  background: url('./Images/fondo_bg.jpg');
  min-height: 100vh;
  flex-direction: column;
}

.App-logo {
  height: 13vmin;
  pointer-events: none;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*.App-header {
  background-color:rgba(0, 0, 0, 0.25);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color: #61dafb;
}

.header {
  background-color:rgba(0, 0, 0, 0.25);
  height: fit-content;
  width:  -webkit-fill-available;
  display: flex;
  justify-content: center;
}

.menu {
  height: 20rem;
  width: fit-content;
  background-color:rgba(0, 0, 0, 0.25);
  margin-top: 5%;
  margin-left: 1rem;
}


@media (max-width: 700px) {
  .menu {
    flex-shrink: 4;
    background-color:rgba(0, 0, 0, 0.25);
    margin-top: 5%;
    margin-left: 1rem;
  }
}


nav {
  display: flex;
  height: 2rem;
  background-color: #E98F8F;
  align-items: center;
  padding: 0.5rem;
}

ul {

  display: flex;
  align-items: center;
}

li {
  list-style:none;
  padding: 1rem;
}